// Variable
@import "../libs/variable.less";
// Mixin
@import "../mixins/mixin.less";
// Body

.section-1 {
  padding: 20px 0;
  text-align: center;
  background: url(/pub-assets/images/section1_bg_mobile.jpg) ~"no-repeat bottom center / cover";
  .main-title {
    .title {
      margin-bottom: 15px;
      line-height: 1.107;
      color: #5f5f6b;
    }
    p {
      margin-bottom: 20px;
      font-size: 1.4rem;
      line-height: 1.285;
    }
  }
  .w_video {
    margin-bottom: 25px;
  }
  .w_button {
    margin: 0 auto;
    max-width: 524px;
    .btn-primary {
      display: block;
      padding: 10px;
      font-size: 1.8rem;
      font-weight: 600;
      color: #fff;
      border-radius: 3px;
      background-color: #37ba70;
      box-shadow: inset 1px -2px 1px 0 rgba(0,0,0,.2);
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
@media (min-width: 768px) {
  .section-1{
    padding: 60px 0 40px;
    background: url(/pub-assets/images/section1_bg.jpg) ~"no-repeat bottom center / cover";
    .main-title {
      p {
        font-size: 2rem;
        line-height: 1.467;
        letter-spacing: 0.35px;
      }
    }
    .w_button {
      .btn-primary {
        font-size: 2.4rem;
        line-height: 1.208;
        letter-spacing: 0.79px;
        padding: 22px 10px;
        &:after {
          display: inline-block;
          font-family: "icomoon";
          content: "\ea42";
          font-size: 2rem;
          font-weight: bold;
          color: #222;
          line-height: 20px;
          margin-left: 10px;
        }
        br {
          display: none;
        }
      }
    }
  }
}
.section-2 {
  padding: 30px 15px;
  .w_thumb {
    margin-bottom: 20px;
    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 160px;
    }
  }
  .w_content {
    .w_title {
      font-size: 2.2rem;
      margin-bottom: 10px;
      letter-spacing: .3px;
      font-weight: 400;
    }
    .w_desc {
      p {
        line-height: 1.375;
      }
      ul {
        .flex-display();
        .justify-content(space-between);
        margin-top: 20px;
        li {
          width: calc(~"100% / 3 - 10px");
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .section-2 {
    .w_item {
      .flex-display();
      .justify-content(space-between);
      .align-items(center);
    }
    .w_thumb {
      width: 50%;
      img {
        max-width: 100%;
      }
    }
    .w_content {
      width: 50%;
      .w_title {
        margin-bottom: 25px;
        font-size: 32px;
      }
      .w_desc {
        p {
          font-size: 18px;
          line-height: 1.444;
        }
        ul {
          margin-top: 30px;
        }
      }
    }
  }
}
.section-3 {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .w_thumb {
    img {
      display: block;
      width: 100%;
    }
  }
  .w_content {
    padding: 20px 15px 40px;
    .w_title {
      margin-bottom: 10px;
      font-size: 22px;
      font-weight: 400;
      letter-spacing: .3px;
    }
  }
}
@media (min-width: 768px) {
  .section-3 {
    .flex-display();
    .align-items(center);
    background: url(/pub-assets/images/section3_bg1_tab.jpg) ~"no-repeat center / cover";
    min-height: 500px;
    .w_thumb {
      display: none;
    }
    .w_content {
      width: 45%;
      .w_title {
        margin-bottom: 20px;
        font-size: 3.8rem;
        letter-spacing: 0.85px;
      }
      .w_desc {
        p {
          font-size: 2.2rem;
          line-height: 1.363;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .section-3 {
    background: url(/pub-assets/images/section3_bg1.jpg) ~"no-repeat top center / cover";
  }
}
.section-4 {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .w_thumb {
    img {
      display: block;
      width: 100%;
    }
  }
  .w_content {
    padding: 20px 15px 40px;
    .w_title {
      margin-bottom: 10px;
      font-size: 22px;
      font-weight: 400;
      letter-spacing: .3px;
    }
  }
}
@media (min-width: 768px) {
  .section-4 {
    .flex-display();
    .flex-direction(row-reverse);
    .align-items(center);
    background: url(/pub-assets/images/section3_bg2_tab.jpg) ~"no-repeat center / cover";
    min-height: 500px;

    .w_thumb {
      display: none;
    }
    .w_content {
      float: right;
      width: 45%;
      .w_title {
        margin-bottom: 20px;
        font-size: 3.8rem;
        letter-spacing: 0.85px;
      }
      .w_desc {
        p {
          font-size: 2.2rem;
          line-height: 1.363;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .section-4 {
    background: url(/pub-assets/images/section3_bg2.jpg) ~"no-repeat top center / cover";
  }
}
.section-5 {
  .camera-wrap {
    img {
      display: block;
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
    }
  }
  .feature-block {
    .w_item {
      margin-bottom: 30px;
      .w_thumb {
        float: left;
        margin-right: 10px;
        width: 100%;
        max-width: 32px;
      }
      .w_title {
        font-size: 18px;
        letter-spacing: 0.3px;
        padding-top: 10px;
        font-weight: 400;
      }
      .w_desc {
        font-size: 1.5rem;
        margin-top: 15px;
      }
    }
  }
}
@media (min-width: 768px) {
  .section-5 {
    padding-top: 70px;
    .camera-wrap {
      margin-bottom: 40px;
      background: url(/pub-assets/images/section4_bg.png) no-repeat top center;
      img {
        max-width: 400px;
      }
    }
    .feature-block {
      .flex-display();
      .justify-content(space-between);
      .flex-wrap(wrap);
      .w_item {
        width: calc(~"100% / 3 - 15px");
        margin-bottom: 45px;
        .w_thumb {
          float: none;
          margin: 0 auto;
          max-width: 45px;
        }
        .w_title {
          font-size: 2rem;
          text-align: center;
        }
        .w_desc {
          font-size: 1.8rem;
          text-align: justify;
        }
      }
    }
  }
}
.section-6 {
  padding: 120px 15px 100px;
  text-align: center;
  background: url(/pub-assets/images/section5_bg_mb.jpg) ~"no-repeat bottom center / cover";
  .ct_jumbotron {
    .w_content {
      h2 {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.182;
        margin-bottom: 40px;
        color: #fff;
      }
      br {
        display: none;
      }
    }
    .w_button {
      .btn-primary {
        display: block;
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 0.64px;
        line-height: 1.222;
        max-width: 524px;
        margin: 0 auto;
        padding: 10px;
        color: #fff;
        border-radius: 3px;
        background-color: #37ba70;
        box-shadow: inset 1px -2px 1px 0 rgba(0,0,0,.2);
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
@media (min-width: 768px) {
  .section-6 {
    padding: 150px 15px 150px;
    background: url(/pub-assets/images/section5_bg_tab.jpg) ~"no-repeat top center / cover";
    .ct_jumbotron {
      .w_content {
        h2 {
          font-size: 3.8rem;
          line-height: 42px;
          text-shadow: 2px 2px 10px #000;
        }
        br {
          display: block;
        }
      }
      .w_button {
        .btn-primary {
          font-size: 2.4rem;
          letter-spacing: 0.79px;
          line-height: 1.208;
          padding: 22px 10px;
          &:after {
            display: inline-block;
            font-family: "icomoon";
            content: "\ea42";
            font-size: 2.3rem;
            font-weight: bold;
            color: #222;
            line-height: 20px;
            margin-left: 10px;
          }
          br {
            display: none;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .section-6 {
    background: url(/pub-assets/images/section5_bg.jpg) no-repeat center;
  }
}
.section-7 {
  padding: 40px 0;
  .img-wrap {
    img {
      display: block;
      width: 100%;
      max-width: 180px;
      margin: 0 auto;
    }
  }
  .app-block {
    .details {
      .w_toptext {
        font-size: 2.2rem;
        letter-spacing: 0.49px;
        line-height: 1.363;
        font-weight: 400;
        margin-bottom: 20px;
      }
      .w_content {
        .w_thumb {
          float: left;
          img {
            width: 100%;
            max-width: 50px;
          }
        }
        .w_title {
          font-size: 2.2rem;
          letter-spacing: 0.49px;
          font-weight: 600;
          overflow: hidden;
          padding: 15px 0 0 10px;
        }
        .w_desc {
          font-size: 1.7rem;
          padding-top: 20px;
          clear: both;
        }
      }
    }
    .sup-devices {
      margin: 20px 0;
      padding: 20px;
      border-radius: 3px;
      background-color: #f4f6f6;
      .w_title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 15px;
        text-align: center;
      }
      ul {
        text-align: center;
        li {
          display: inline;
          font-size: 1.8rem;
          padding: 0 15px;
        }
      }
    }
    .store-list {
      text-align: center;
      a {
        display: block;
        img {
          margin-bottom: 20px;
          width: 100%;
          max-width: 180px;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .section-7 {
    padding: 75px 0;
    .container {
      .flex-display();
      .justify-content(space-between);
      .align-items(center);
    }
    .img-wrap {
      width: 40%;
      img {
        max-width: 360px;
        margin: 0;
      }
    }
    .app-block {
      width: 60%;
      padding-left: 40px;
      .details {
        .w_toptext {
          font-size: 3.6rem;
          letter-spacing: 0.8px;
        }
        .w_content {
          .w_thumb {
            float: left;
            img {
              max-width: 100px;
            }
          }
          .w_title {
            font-size: 3rem;
            letter-spacing: 0.65px;
            padding: 30px 0 0 10px;
          }
          .w_desc {
            font-size: 1.6rem;
          }
        }
      }
      .store-list {
        text-align: left;
        a {
          display: inline;
          padding-right: 10px;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .section-7 {
    .app-block {
      padding-left: 13%;
    }
  }
}
.section-8 {
  padding: 40px 0;
  text-align: center;
  background-color: #e5f1ef;
  h2 {
    font-size: 2.2rem;
    letter-spacing: 0.49px;
    margin-bottom: 20px;
  }
  .w_list_setup {
    .flex-display();
    .justify-content(space-between);
    .w_item {
      width: calc(~"100% / 3 - 10px");
      text-align: center;
      .w_title {
        font-size: 2rem;
        font-weight: 400;
        color: #7bcdc0;
        margin: 10px;
      }
      p {
        font-size: 1.3rem;
        line-height: 1.231;
      }
    }
  }
}
@media (min-width: 768px) {
  .section-8 {
    padding: 70px 0;
    h2 {
      font-size: 3.5rem;
      font-weight: 600;
      margin-bottom: 50px;
    }
    .w_list_setup {
      .w_item {
        width: calc(~"100% / 3 - 15px");
        .w_title {
          font-size: 2.6rem;
          margin: 20px 0 15px;
        }
        p {
          font-size: 2rem;
          line-height: 1.4;
        }
      }
    }
  }
}

.section-9 {
  padding: 40px 0;
  .inside-block {
    .w_main_title {
      font-size: 2.2rem;
      letter-spacing: 0.49px;
      font-weight: 600;
      margin-bottom: 20px;
      text-align: center;
    }
    .w_thumb {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
    }
  }
}
@media (min-width: 768px) {
  .section-9 {
    padding: 60px 0;
    .inside-block {
      .w_main_title {
        font-size: 3.6rem;
        letter-spacing: 0.8px;
        margin-bottom: 50px;
      }
    }
  }
}
@media (min-width: 992px) {
  .section-9 {
    .inside-block {
      .w_main_title {
        margin-bottom: 70px;
      }
    }
  }
}

.section-10 {
  padding: 40px 0;
  background-color: #f4f6f6;
  h2 {
    font-size: 2.2rem;
    letter-spacing: 0.49px;
    margin-bottom: 20px;
    text-align: center;
  }
  .teachnical-list {
    .w_item {
      .w_text {
        margin-bottom: 20px;
        .w_title {
          font-size: 1.7rem;
          font-weight: 600;
          margin-bottom: 10px;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .section-10 {
    padding: 80px 0 40px;
    h2 {
      font-size: 3.6rem;
      letter-spacing: 0.8px;
      margin-bottom: 50px;
    }
    .teachnical-list {
      .flex-display();
      .w_item {
        width: 50%;
        padding-left: 10%;
      }
    }
  }
}
@media (min-width: 992px) {
  .section-10 {
    h2 {
      margin-bottom: 70px;
    }
  }
}

.section-11 {
  padding: 60px 0;
  h2 {
    font-size: 2.2rem;
    letter-spacing: 0.49px;
    margin-bottom: 20px;
    text-align: center;
  }
  .review-list {
    padding: 0 15px;
    .w_item {
      &:nth-child(n+2) {
        padding-top: 30px;
        margin-top: 30px;
        border-top: 1px solid #ccc;
      }
      .thumb {
        float: left;
        width: 90px;
      }
      .w_title {
        font-size: 1.5rem;
        color: #333;
        padding-top: 5px;
        text-align: right;
        overflow: hidden;
      }
      .w_desc {
        padding-top: 10px;
        h4 {
          font-size: 1.8rem;
          color: #555;
          margin-bottom: 10px;
        }
        p {
          margin-bottom: 15px;
        }
        ul {
          list-style-type: disc;
          list-style-position: inside;
          li {
            margin-bottom: 5px;
          }
        }
      }
    }
    .w_button {
      max-width: 524px;
      margin: 30px auto 0;
      .btn-primary {
        display: block;
        font-size: 1.8rem;
        font-weight: 600;
        color: #fff;
        padding: 15px 10px;
        text-align: center;
        border-radius: 3px;
        background-color: #37ba70;
        box-shadow: inset 1px -2px 1px 0 rgba(0, 0, 0, 0.2);
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .section-11 {
    padding: 90px 0 80px;
    .w_main_title {
      font-size: 3.6rem;
      letter-spacing: 0.8px;
      margin-bottom: 50px;
    }
    .review-list {
      .w_button {
        margin-top: 60px;
        .btn-primary {
          font-size: 2.4rem;
          padding: 22px 10px;
          &:after {
            display: inline-block;
            font-family: "icomoon";
            content: "\ea42";
            font-size: 2.3rem;
            font-weight: bold;
            color: #222;
            line-height: 20px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .section-11 {
    .w_main_title {
      margin-bottom: 70px;
    }
  }
}

.section-12 {
  background-color: #f0f0f0;
  .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .baby-img {
    img {
      display: block;
      width: 100%;
    }
    .img-dk {
      display: none;
    }
  }
  .footer-logo {
    padding: 20px 0 10px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .copyright-index {
    font-size: 1.3rem;
    padding-bottom: 15px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .section-12 {
    .baby-img {
      .img-mb {
        display: none;
      }
      .img-dk {
        display: block;
      }
    }
  }
}
