// Header
// Main
// Footer
//--------------//
.inputFocusing {
  overflow-x: hidden;
  body {
    font-family: Nunito,sans-serif;
    line-height: 1.4;
    color: #5f5f6b;
    overflow-x: hidden;
  }
}

// Header
header {
  position: fixed;
  z-index: 9;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  
}

// Main
main {
  margin: 5px 0;
  padding: 10px;
  min-height: 2000px;
}

// Footer
footer {
  padding: 10px;
}
